{% extends 'core/base.html' %}

{% block content %}
    {% if form.instance.pk %}
    <h1>Paquetes: Categorias - Formulario de edición</h1>
    {% else %}
    <h1>Paquetes: Categorias - Formulario de creación</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    <a href="{% url 'traslados:index' %}"><button>Volver</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>



{% endblock content %}