{% extends 'core/base.html' %}

{% block content %}
    <h1>Lista de Clientes</h1>
    <form action="" method="get"> 
        <input type="text" name="query" placeholder="Buscar...">
    </form>
    <a href="{% url 'traslados:cliente_create' %}"><button>Crear Cliente</button></a>
    <a href="{% url 'traslados:index' %}"><button>Volver</button></a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Paquete</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in object_list %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.paquete.nombre }}</td>
                    <td>
                        
                        <ol><a href="{% url 'traslados:cliente_update' cliente.id %}"><button>Editar</button></a></ol>
                        <ol><a href="{% url 'traslados:cliente_delete' cliente.id %}"><button>Eliminar</button></a></ol>
                        <ol><a href="{% url 'traslados:cliente_detail' cliente.id %}"><button>Ver</button></a></ol>
                    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}