{% extends 'core/base.html' %}

{% block content %}
    <h1>Lista de Cotizaciones</h1>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Paquete</th>
                <th>Total</th>
                <th>Fecha de entrega</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cotizacion in object_list %}
                <tr>
                    <td>{{ cotizacion.cliente }}</td>
                    <td>{{ cotizacion.paquete }}</td>
                    <td>${{ cotizacion.total }}</td>
                    <td>{{ cotizacion.fecha_de_entrega }}</td>
                    <td>
                        <a href="{% url 'traslados:cotizacion_update' cotizacion.id %}"><button>Editar</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'traslados:cotizacion_create' %}"><button>Crear Cotización</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>
    <a href="{% url 'traslados:index' %}"><button>Volver</button></a>
{% endblock content %}