{% extends 'core/base.html' %}

{% block content %}
    <h1>Lista de Cotizaciones</h1>
    <ul>
        {% for object in object_list %}
            <p>Cliente: {{object.cliente}} - Paquete: {{object.paquete}} - Total ${{object.total}} - Fecha de entrega: {{object.fecha_de_entrega}} </p>
        {% endfor %}
        <ul><a href="{% url 'traslados:cotizacion_create' %}"><button>Crear Cotización</button></a></ul>
        <a href="{% url 'core:index' %}"><button>Inicio</button></a>
        <a href="{% url 'traslados:index' %}"><button>Volver</button></a>
    </ul>
{% endblock content %}  