{% extends 'core/base.html' %}

{% block content %}
    <h1>Lista de Fletes</h1>
    <a href="{% url 'traslados:flete_create' %}"><button>Crear Flete</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>
    <a href="{% url 'traslados:index' %}"><button>Volver</button></a>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for flete in object_list %}
                <tr>
                    <td>{{ flete.cliente }}</td>
                    <td>
                        <ol><a href="{% url 'traslados:flete_update' flete.id %}"><button>Editar</button></a></ol>
                        <ol><a href="{% url 'traslados:flete_detail' flete.id %}"><button>Ver</button></a></ol>
                        <ol><a href="{% url 'traslados:flete_delete' flete.id %}"><button>Eliminar</button></a></ol>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}