{% extends 'core/base.html' %}

{% block content %}
<nav>
    <ul><a href="{% url 'traslados:paquete_list' %}"><button>Mostrar Paquetes</button></a></ul>
    <ul><a href="{% url 'traslados:cliente_list' %}"><button>Mostrar cliente</button></a></ul>    
    <ul><a href="{% url 'traslados:cotizacion_list' %}"><button>Mostrar Cotización</button></a></ul>
    <ul><a href="{% url 'traslados:flete_list' %}"><button>Mostrar Fletes</button></a></ul>
    <ul><a href="{% url 'traslados:transportista_list' %}"><button>Mostrar Transportistas</button></a></ul>
    <ul><a href="{% url 'core:index' %}"><button>Inicio</button></a></ul>

</nav>

{% endblock content %}
