{% extends 'core/base.html' %}

{% block content %}
    <h1>Lista de paquetes</h1>
    <ul>
        {% for object in object_list %}
            <p>Tipo: {{object.nombre}} Descripción: {{object.descripcion}} Categoría: {{object.categoria}}  </p>
            <P></P>
        {% endfor %}
        <ul><a href="{% url 'traslados:paquete_create' %}"><button>Crear Paquetes</button></a></ul>
        <ul><a href="{% url 'traslados:categoria_list' %}"><button>Categoria de paquetes</button></a></ul>

        <a href="{% url 'core:index' %}">Inicio</a>
        <a href="{% url 'traslados:index' %}">Volver</a>
    </ul>
{% endblock content %}  