{% extends 'core/base.html' %}

{% block content %}
    <h1>Lista de Transportistas</h1>
    <a href="{% url 'traslados:transportista_create' %}"><button>Crear Transportista</button></a>
    <a href="{% url 'core:index' %}"><button>Inicio</button></a>
    <a href="{% url 'traslados:index' %}"><button>Volver</button></a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Licencia</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Flete</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for transportista in object_list %}
                <tr>
                    <td>{{ transportista.nombre }}</td>
                    <td>{{ transportista.apellido }}</td>
                    <td>{{ transportista.licencia }}</td>
                    <td>{{ transportista.telefono }}</td>
                    <td>{{ transportista.email }}</td>
                    <td>{{ transportista.flete }}</td>
                    <td>
                        <a href="{% url 'traslados:transportista_update' transportista.id %}"><button>Editar</button></a>
                        <a href="{% url 'traslados:transportista_detail' transportista.id %}"><button>Ver</button></a>
                        <a href="{% url 'traslados:transportista_delete' transportista.id %}"><button>Eliminar</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}