{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div style="text-align: center;">
    
<img src="{% static 'core/img/banner.png' %}" alt="" height="500" width="300">
</div>
<div>
    {% if user.is_authenticated %}
        <div style="text-align: center;">
        <a href="{% url 'traslados:index' %}"><button>Ir a Fletes</button></a>
        <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
        </div>
        <div style="text-align: center;">
        <a href="{% url 'core:logout' %}"><button type="submit">Cerrar Sesión</button></a> 
        </div>
        </form>
        <div style="text-align: center;">
        <a href="{% url 'core:profile' %}">
            <button>Mi Perfil</button>
        </a>
        </div>
        {% else %}
        <div style="text-align: center;">
            <a href="{% url 'core:login' %}"><button>Iniciar Sesión</button></a>   
        </div>    
            {% endif %}
        <div style="text-align: center;">
            <a href="{% url 'core:about' %}"><button>Acerca de mí</button></a>
        </div>
        <div style="text-align: center;">
            <a href="{% url 'core:about_us' %}"><button>Nosotros</button></a>
        </div>
</div>
    <div style="text-align: center;">
    {% for message in messages %}
        <p> {{ message }} </p>
    {% endfor %}
    </div>


{% endblock content %}


